Django
django-countries  # analytics
django-ipware  # analytics
django-model-utils  # required by data_store app
django-modeltranslation # application is used to translate dynamic content of existing Django model fields
django-rosetta  # application that eases the translation process
django-watchman
geoip2  # analytics
psycopg2-binary
python-dotenv
