-c constraints.txt
Django
django-countries  # analytics
django-ipware  # analytics
django-model-utils  # required by data_store app and analytics app
{%- if cookiecutter.feature_i18n == 'y' %}
django-modeltranslation # application is used to translate dynamic content of existing Django model fields
django-rosetta  # application that eases the translation process
{% endif %}
django-sql-explorer[xls]
django-watchman
geoip2  # analytics
psycopg2-binary
python-dotenv
